<section id="navigation-container" class="row w-75">
    <div id="skills-link" class="col">
        <a href="">skills</a>
    </div>
    <div id="home-link" class="col">
        <a href="">hi</a>
    </div>
    <div id="pen-link" class="col">
        <a href="">pen</a>
    </div>
    <div id="hands-link" class="col">
        <a href="">hands</a>
    </div>
    <div id="keyboard-link" class="col">
        <a href="">keyboard</a>
    </div>
</section>
<!-- 
<div class="container w-75">
    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-4">
      <div class="col">Column</div>
      <div class="col">Column</div>
      <div class="col">Column</div>
      <div class="col">Column</div>
    </div>
  </div> -->